<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
  Digite mais de <STRONG>4 caracteres</STRONG> nos campos <STRONG>nome, email e senha </STRONG> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>