<style>
    .background-menu{
    background-color: rgba(13, 19, 23, 0.925);
}
</style>
<nav class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-3 background-menu  border-bottom shadow-sm">
    <div class="my-0 mr-md-auto font-weight-normal mx-auto">
        <a class="navbar-brand logo" href="#">
            <img src="logo/logo.png" alt="logo do site" width="80px" height="80px">
        </a>
    </div>
</nav>